.ajax-progress-bar {
  width: auto!important;
}

.ajax-progress {
  display: block!important;
}

.text-align-right {
  text-align: right;
}

th.unselected {
  color: #a9a9a9;
  font-weight: normal;
}
